page-about{
    #mainTabs{
    .toolbar-background {
        background: linear-gradient(45deg, rgba(129,98,246,0.85) 0%, rgba(250,119,117,0.85) 100%) !important;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        }
    }
}