<ion-header *ngIf="true"  #head>
  <ion-navbar hideBackButton  class="navbar"  hide-on-scroll="true">
    
<div class="header-home">
  
<div class="idiom-button" >

  <div class="hindi-icon" (click)="navIdiom()">
     <img [src]=lang/>
  </div>

  <!--<h1>{{ profiledata.userName }}</h1>-->
  <span class="idiom-name"  (click)="navIdiom()">{{ selectedIdiom }}</span>
</div>

      <!--<ion-item class="list-item-style" >-->
                <!--<ion-label> Use less Data</ion-label> -->
                
      <!--</ion-item>-->
  <ion-icon class="search-icon" name="md-contact" (click)="checklogin()"></ion-icon>
  <!--<ion-icon  class="search-icon" name="search" (click)="searchButton()"></ion-icon>-->
  <!--<ion-toggle class="search-icon" [checked]="isSelected" (ionChange)="ToggleChange($event)"></ion-toggle>-->
    <ion-icon *ngIf="!isSelected" class="search-icon"  (click)="ToggleChange($event)" name="pause"></ion-icon>
    <ion-icon *ngIf="isSelected" class="search-icon"  (click)="ToggleChange($event)" name="play"></ion-icon>

</div>  

<div class="search-bar-div">
     <ion-searchbar class="search-input-bar" #search
    (showCancelButton)="true"
    [(ngModel)]="myInput"
       (keyup.enter)="someFunction($event)" 
         (ionCancel)="onCancel($event)">
    </ion-searchbar>

    <!--<ion-input class="search-input-bar" (keyup.enter)="someFunction($event)"  ></ion-input>-->
    <button class="custom-search-btn" ion-button (click)="searchBttn(myInput)">
      <ion-icon name="search"></ion-icon>
     </button>
</div>
  </ion-navbar>
</ion-header>

<ion-content no-bounce class="home-content">
  <!--<accordion></accordion>-->
  <!---->
   <super-tabs *ngIf="tabsLoaded" no-shadow id="mainTabs"  [selectedTabIndex]="0"  [config]="{ sideMenu: 'left' }" scrollTabs toolbarColor="light" [indicatorColor]="toolbarColor" badgeColor="yellow" (tabSelect)="onTabSelect($event)" >
      <!--<super-tab [root]="page1" [rootParams]="idiom3" [title]="tabdata2[0].name" [icon]="showIcons? 'trending-up' : ''" id={{tabdata2[0].id}} ></super-tab>
      <super-tab [root]="page3" [rootParams]="idiom3" [title]="tabdata2[1].name" [icon]="showIcons? 'trending-up' : ''" id={{tabdata2[1].id}}></super-tab>
      <super-tab [root]="page4" [rootParams]="idiom3" [title]="tabdata2[2].name" [icon]="showIcons? 'trending-up' : ''" id={{tabdata2[2].id}}></super-tab>
      <super-tab [root]="page5" [rootParams]="idiom3" [title]="tabdata2[3].name" [icon]="showIcons? 'trending-up' : ''" id={{tabdata2[3].id}}></super-tab>
      <super-tab [root]="page6" [rootParams]="idiom3" [title]="tabdata2[4].name" [icon]="showIcons? 'trending-up' : ''" id={{tabdata2[4].id}}></super-tab>
      <super-tab [root]="page7" [rootParams]="idiom3" [title]="tabdata2[5].name" [icon]="showIcons? 'trending-up' : ''" id={{tabdata2[5].id}}></super-tab>-->
      <super-tab  *ngFor="let tab of tabdata " [root]="page2" [rootParams]="idiom3" [title]=tab.name [icon]="showIcons? 'trending-up' : ''" id={{tab.id}}></super-tab>
       <!--<super-tab [root]="page8" [rootParams]="idiom3" [title]="tabdata2[6].name" [icon]="showIcons? 'trending-up' : ''" id={{tabdata2[6].id}}></super-tab>-->
      <!--<super-tab [root]="page8" [rootParams]="idiom3" [title]="tabdata2[7].name" [icon]="showIcons? 'trending-up' : ''" id={{tabdata2[7].id}}></super-tab>-->
      <!--<super-tab [root]="page9" [rootParams]="idiom3" [title]="tabdata2[8].name" [icon]="showIcons? 'trending-up' : ''" id={{tabdata2[6].id}}></super-tab>-->-->
      <!--<super-tab *ngFor="let tab of tabdata " [root]="page2" [rootParams]="idiom3" [title]=tab.name [icon]="showIcons? 'home': ''" id={{tab.id}}>-->
   <!--</super-tab>--> 
  </super-tabs>
  

 
</ion-content>
