<ion-header>
  <ion-navbar hideBackButton  class="navbar">
    
<div class="header-home">
  
<div class="idiom-button" >

  <div class="hindi-icon" (click)="navIdiom()">
     <img [src]=lang/>
  </div>

  <!--<h1>{{ profiledata.userName }}</h1>-->
  <span class="idiom-name"  (click)="navIdiom()">{{ selectedIdiom }}</span>
</div>

  <ion-icon class="search-icon" name="md-contact" (click)="checklogin()"></ion-icon>
  <ion-icon class="search-icon" name="search" (click)="searchButton()"></ion-icon>

</div>  
  </ion-navbar>
</ion-header>

<ion-content no-bounce class="home-content">
   <super-tabs *ngIf="tabsLoaded" no-shadow id="mainTabs"  [selectedTabIndex]="tabIndex"  [config]="{ sideMenu: 'left' }" scrollTabs [toolbarColor]="toolbarColor" [indicatorColor]="toolbarColor" badgeColor="yellow" (tabSelect)="onTabSelect($event)">
      <super-tab [root]="page1" [rootParams]="idiom3" [title]="showTitles? 'Trending' : ''" [icon]="showIcons? 'trending-up' : ''" id={{tabdata[0].id}}></super-tab>
      <super-tab [root]="page3" [rootParams]="idiom3" [title]="showTitles? 'Emotions' : ''" [icon]="showIcons? 'trending-up' : ''" id={{tabdata[1].id}}></super-tab>
      <!--<super-tab [root]="page4" [rootParams]="idiom3" [title]="showTitles? 'Celebrity' : ''" [icon]="showIcons? 'trending-up' : ''" id={{tabdata[2].id}}></super-tab>-->
      <super-tab *ngFor="let tab of tabdata " [root]="page2" [rootParams]="idiom3" [title]=tab.name [icon]="showIcons? 'home': ''" id={{tab.id}}>
   </super-tab>
      
      <!--<super-tab [root]="page2" *ngFor="let tab of tabdata " [title]=tab.name [icon]="showIcons? 'trending-up' : ''" id=page3></super-tab>-->-->
      <!--<super-tab [root]="page1" [title]="showTitles? 'Hot' : ''" [icon]="showIcons? 'flame': ''" id="page1"></super-tab>
      <super-tab [root]="page2" [title]="showTitles? 'Celebrity' : ''" [icon]="showIcons? 'pin' : ''" id="page5"></super-tab>-->
      <!--<super-tab [root]="page3" [title]="showTitles? 'Analytics' : ''" [icon]="showIcons? 'analytics' : ''" id="page6"></super-tab>
     <super-tab [root]="page1" [title]="showTitles? 'Home' : ''" [icon]="showIcons? 'home': ''" id="page7"></super-tab>
      <super-tab [root]="page2" [title]="showTitles? 'Trending' : ''" [icon]="showIcons? 'trending-up' : ''" id="page8"></super-tab>
      <super-tab [root]="page3" [title]="showTitles? 'Favorites' : ''" [icon]="showIcons? 'heart' : ''" id="page9"></super-tab>
      <super-tab [root]="page1" [title]="showTitles? 'Hot' : ''" [icon]="showIcons? 'flame': ''" id="page10"></super-tab>
      <super-tab [root]="page2" [title]="showTitles? 'Nearby' : ''" [icon]="showIcons? 'pin' : ''" id="page11"></super-tab>
      <super-tab [root]="page3" [title]="showTitles? 'Analytics' : ''" [icon]="showIcons? 'analytics' : ''" id="page12"></super-tab>-->
 
  </super-tabs>
  

 
</ion-content>
