page-login {
    .background {
      background: #212E40;
}

    //   .scroll-content{
    //   align-content: center;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   text-align: center;
    // }


    .login-content{
       align-content: center;
       display: flex;
       flex-direction: column;
       justify-content: center;
       text-align: center;
    }

    ion-card.card {
      box-shadow: none;
      background: rgba(0,0,0,0.3);
      border-radius: 5px;
    }

    .item{
      margin-bottom: 10px;
      background: rgba(255,255,255,0.5);
      border: medium none;
    }

    a, h1, h2 , h3, ion-card-header.card-header{
      color: #fff!important;
    }

    .list > .item-block:first-child {
      border: medium none;
    }

    .text-input{
      color: #fff;
    }

    input::-moz-placeholder {
      color: #fff!important;
    }

    input:-moz-placeholder {
      color: #fff!important;
    }

    *::-webkit-input-placeholder{
      color: #fff!important;
    }
}

.csLoginScreen {
    border-top: none;
    background-color: #2b3b50;
}

.signin-button{
    padding:5%;
    margin-bottom: 5px;
}

.csFontColor1{
    color : white;
}

.letter-space {
  .text-input {
    @extend .csFontColor1;
    font-weight:bold;
    letter-spacing: 7px;
  }
}

page-login .navbar {
  .toolbar-background {
    background: linear-gradient(45deg, #8162F6 0%, #FA7875 100%) !important;
  }
}

.gin-box-login {
  text-align: center;
  margin: 0% 5% 0 5%;
  h5 {
    color: #0F1823;
  }
}

.gin-box-login-inside {
  margin-left: -12px;
  margin-bottom: 20px;
}

.item {
  caret-color: #35EC97;
  color: white;
  background: transparent;
}

.eye-icon {
  color: #8A9BB2;
}

.gin-button-fb {
  background-color: #3b5998;
  font-size: 1.4rem;
  color: white;
  font-weight: 600;
  padding: 1.6em 2.8em;
  margin-bottom: 10px;
}

.gin-button-fb:hover {
  background-color: #243760 !important;
}

.gin-button-gg {
  background-color:#D84B37;
  font-size: 1.4rem;
  color:white;
  font-weight: 600;
  padding: 1.6em 2.8em;
}

.gin-button-gg:hover {
  background-color: #AB2F1D !important;
}

.login-links {
  margin-top: 5%;
  font-weight: 600;
  span {
    color: white;
  }
  .a-link {
    color: #8463F2;
    border-bottom: 2px solid #3A218E;
  }
}