progress-bar {

	.progress-outer {
		width: 100%;
		text-align: center;
		color: #fff;
		border-radius: 20px;
        position:absolute;
        margin-top: -8px;
	}

    
	.progress-inner {
		min-width: 0%;
		white-space: nowrap;
		overflow: hidden;
		background-color: #8463F2;
        height: 7px;
	}

}