.content-background{
     background-color: #2b3b50; 
     color: white;
}

.list-item-style{
    background-color: transparent;
    color: white !important;
}

ion-label{
  color: white!important;
}

page-settings .item-inner {
  border-bottom: 1px solid #364860 !important;
}