.content-background{
    background-color : #2b3b50; 
}

.navbar{
    .toolbar-background{
        background: transparent;
    }
}

.add-tags-textarea{
    color:white;
    background: transparent;
    font-size: 23px;
}

.add-source{
    background: #2b3b50;
    color: white;
}

.upload-button{
    text-align: center;
    margin-top:10px;
    padding-top: 10px;
}

