.idiom-content{
    background-color: #2b3b50;
}

.idiom-title {
    height: 118px;
    width: 10px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: #28323f;
    font-weight: 400;
    font-size: 1.9rem;;
    color: white;
}

.selectedchange{
  background : linear-gradient(45deg, #8162F6, #FA7875 100%) !important;
}

//.idiom-button{
// background-color: white;
// color: #00b6ff;
//}

.toolbar-title {
    color: white !important;
}

