.idiom-content{
    background-color: #2b3b50;
}


.idiom-title {
    height: 118px;
    width: 118px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: #28323f;
    padding-top: 27px;
    font-weight: 400;
    font-size: 1.9rem;
    margin: 10px;
    color: white;
}

.selectedchange{
  background : linear-gradient(45deg, #8162F6, #FA7875 100%) !important;
}

.idiom-button{
 background-color: white;
 color: #00b6ff;
}

.button-style{
    float: center;
}

.navbar{
    .toolbar-background {
	     //background: #ff1943 !important;
         background: -moz-linear-gradient(top, #ff1943 0%, #d0043e 100%); /* FF3.6-15 */
         background: -webkit-linear-gradient(top, #ff1943 0%,#d0043e 100%); /* Chrome10-25,Safari5.1-6 */
         background: linear-gradient(to bottom, #ff1943 0%,#d0043e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    .toolbar-title{
        color: white !important;
    }
    
}

