.profile-image {
    width:100px;
    margin: 0px auto 0px auto;
    text-align: center;
    padding: 10px 0;
    overflow: hidden;    
}
.profile-image img {
    margin: 0px auto 0px auto;
}

.content-bg{
     background-color :  #2b3b50; 
}

// Remove ion-content margin-top
page-profile .scroll-content {
    margin-top:0px !important;   
}

.toolbar-background-md {
    background: transparent;
    border-color: transparent;
}

.card-style{
    color : white;
    text-align: center;
    background-image: linear-gradient(to top right, #8162F6, #FA7875 100%);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.30);
    padding: 12% 5% 5% 5%;
    margin-bottom: 3%;
}

.settings-icon{  
    font-size: 30px;
    position: right;
    float: right;
    margin-right: 10px;
    color: white;
   
}
.ios ,.md {
    page-profile{
        .pins{
            column-count : 2;
            margin-left: 15px; margin-right: 15px;
        }
        .pin{
            display: inline-block;
            margin : -0px -6px -0px -6px;
            padding: 0px;
        }
        .gifpin{
            border-radius: 5px;
            width: 100%;
            height: auto;
            background: #8463F2;
        }
    }
}