.profile-image {
    width:100px;
    margin: 0px auto 0px auto;
    text-align: center;
    padding: 10px 0;
    overflow: hidden;    
}
.profile-image img {
    margin: 0px auto 0px auto;
}

.content-background{
     background-color :  #2b3b50; 
     color : white;
}

.card-style{
    color : white;
    text-align: center;
    background: linear-gradient(45deg, rgba(122, 104, 190, 0.85) 0%, rgba(247, 48, 39, 0.87) 100%) !important;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.settings-icon{  
    font-size: 30px;
    position: right;
    float: right;
    margin-right: 10px;
   
}

.ios , .md {
    page-profile{
        .pins{
            column-count : 2;
        }
        .pin{
            display: inline-block;
            margin : -1px -3px -9px -9px;
            padding: 0px;
        }
    }
}