<ion-header no-border>
    <ion-navbar hideBackButton >
        <button class="customIcon" ion-button icon-only (click)="poptoHome()">
            <ion-icon  name="arrow-back"></ion-icon>
        </button>
        <ion-icon *ngIf="!favorite" class="favorite-icon" name="md-heart-outline" (click)="Addfavorites()"></ion-icon>
        <ion-icon *ngIf="favorite" class="favorite-icon">
            <img src="assets/icon/favv.png">
        </ion-icon>
         <ion-buttons end>
            <button class="options-icon" ion-button icon-only (click)="presentPopover($event,gifurl)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="gifdetail-content">
    <div class="gifviewer">
        <img class="Gifdetail" src={{gifurl}}>
    </div>
    
    <progress-bar [hidden]="hidebar" [progress]="loadProgress"></progress-bar>
  
    <div class="gif-info">
        <ion-grid>
        <ion-row>
            <ion-col col-4>
                <ion-chip>
                    <ion-avatar>
                        <img src="assets/icon/avatar.png">
                    </ion-avatar>
                    <ion-label>{{golauser}}</ion-label>
                    
                </ion-chip>
            </ion-col>
            <ion-col col-4>
               <div class="gin-label">
                <span>{{scount}}</span>
                <label>shares</label>
               </div>
            </ion-col>
            <ion-col col-4>
                <span class="gin-label">
                  <ion-icon class="ic-share-alt" name="share-alt"></ion-icon>
                  <a [href]="giffSrc">
                    <span class="gif-source" (click)="sourceClick()"> {{gifobject.source | ellipsis : 5}}</span>
                  </a>
                </span>
            </ion-col>
        </ion-row>
        </ion-grid>
    </div>

    <div class="social-sharing">
        <img class="social-icons s-whatsapp" src="assets/icon/ic_whatsapp.png" (click)="shareGif()"/>
        <img class="social-icons s-twitter" src="assets/icon/ic_twitter.png" (click)="shareGifTwitter()"/>
        <img class="social-icons s-messenger" src="assets/icon/ic_messenger.png" (click)="sharegifviaMessenger()"/>
        <img class="social-icons s-hike" src="assets/icon/ic_hike.png" (click)="sharegifviaHike()"/> <!-- Hike instead of Instagram-->
        <img class="social-icons s-neutral" src="assets/icon/ic_link.png" (click)="copyUrl()" />
        <img class="social-icons s-neutral" src="assets/icon/ic_share.png" (click)="shareSheet()"/>
    </div>

    <div class="gif-tags">
        <span *ngIf="hidetags">
            <ion-badge *ngFor="let tag of tagslist | slice :0:3" class="tag-badge" item-right (click)="TagClicked(tag)">{{tag | ellipsis : 13}}</ion-badge>
        </span>
        <span *ngIf="showtags">
            <ion-badge   *ngFor="let tag of tagslist" class="tag-badge" item-right (click)="TagClicked(tag)">{{tag | ellipsis : 13}}</ion-badge>
        </span>

        <ion-badge class="tag-badge" item-right (click)="expandTags()">
            <ion-icon class="ic-more-tag" name="md-code-working"></ion-icon>
        </ion-badge>
    </div>

    <div class="related-gifs">RELATED GIFS</div>
    <!--<div class="related-gifs"><b>{{totalcount}}</b> RELATED GIFS</div>-->
    <!--<div class="pins">
        <div class="pin" *ngFor="let rgifs of recomns">
             <img class="gifpin" src={{rgifs.url}} (click)="GIFviewer(rgifs)">
        </div>   
    </div>-->

    <masonry class="grid" [options]="{ transitionDuration: '0.0001s' , gutter : 4 }" [useImagesLoaded]="true" >
       <masonry-brick class="brick" *ngFor="let rgifs of recomns"  (click)="GIFviewer(rgifs)" >
         <img  width="100%" height="100%" [src]="rgifs.lowResUrl || rgifs.url ||  rgifs.thumbNailUrl"/>
       </masonry-brick>
    </masonry>



<!--<ion-infinite-scroll  direction="x" class="con-scroll-x" has-bouncing="true" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>-->