page-gifdetail{

}

.Gifdetail{
    width:100%;
    height:100%;
    position: relative;
}

.gifdetail-content{
     background-color: #2b3b50;
}

.social-sharing{
    width : 100%;
    //height : 50px;
    background-color: #232830;
    padding-left: 8px;
    padding-top: 4px;
}

.gif-tags{
    width : 100%;
    background-color: #232830;
    padding : 5px;
    color: white;
    font-size : 17px;
    border-top: 1px solid #2b3b50;
}

.tags-style{
    border: 1px solid black;
    background: #253126;
    padding: 16px;
    margin: 4px;
    display: inline-flex;
    font-weight: 600;
}

.social-icons{
    width: 40px;
    height: 40px;
    margin: 5px;
    padding: 0px;
}

.favorite-icon{
    font-size: 25px;
    float: right;
    color: white;
}

.more-socialIcons{
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.tag-badge{
    font-size: 15px;
    padding: 8px;
    margin: 2px;
}

.navbar {
    .toolbar-background {
	    background: transparent;
    }
}

.gifviewer{
    width: 100%;
    height:260px;  
}

.ios ,.md {
    page-gifdetail{
        .pins{
            column-count : 2;
        }
        .pin{
            display: inline-block;
            margin : -1px -5px -9px -9px;
            padding: 0px;
        }
        .gifpin{
            background: #00e589;
        }
    }
}