
//page-gifdetail .navbar {
//    .toolbar-background {
//    background: rgba(255,255,255,.10) !important; 
//    }
//}
// Doesn't work, try https://github.com/HsuanXyz/ionic2-transparent-bar/blob/master/src/pages/transparent-bar/transparent-bar.html
 
.platform-ios.platform-cordova:not(.fullscreen) .has-header {
  /*top:0px;*/
}
.gifviewer {
    width: 100%;
    height: auto;
}

.Gifdetail{
    width: 100%;
    height: 100%;
    position: relative;
}

.gifdetail-content{
     background-color: #2b3b50;
}

.social-sharing{
    width : 100%;
    height : 50px;
    padding-left: 8px;
}

.related-gifs{
    margin: 6px;
    padding: 4px;
    color: white;
}

.gif-tags{
    width : 100%;
    padding : 5px;
    color: white;
    font-size : 17px;
    border-top: 1px solid #2b3b50;
}

.tags-style{
    border: 1px solid black;
    background: #253126;
    padding: 16px;
    margin: 4px;
    display: inline-flex;
    font-weight: 600;
}

.social-icons{
    width: 33px;
    height: 33px;
    margin: 2px;
    padding: 0px;
}

.favorite-icon{
    font-size: 25px;
    float: right;
    color: white;
}

.more-socialIcons{
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.tag-badge{
    font-size: 15px;
    padding: 8px;
    margin: 2px;
}

.ios ,.md {
    page-gifdetail {
        .pins{
            column-count : 2;
        }
        .pin{
            display: inline-block;
            margin : -1px -5px -9px -9px;
            padding: 0px;
        }
        .gifpin{
            background: #00e589;
        }
    }
}