
// Transparent bat doesn't work, try https://github.com/HsuanXyz/ionic2-transparent-bar/blob/master/src/pages/transparent-bar/transparent-bar.html


.gifviewer {
    width: 100%;
    height: auto;
}


.Gifdetail{
    width: 100%;
    height: 100%;
    position: relative;
}

.gifdetail-content{
    background-color: #212E40;
    margin-top: -56px;
}

page-gifdetail .toolbar-background-md {
    background: linear-gradient(to bottom, rgba(0,0,0,0.60) 0%,rgba(0,0,0,0) 100%);
    border-color: transparent;
}

.gif-info {
    background-color: #2b3b50;
    height: 45pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

.related-gifs{
    margin: 6px;
    padding: 4px;
    color: white;
}

.gif-tags{
    width : 100%;
    padding : 5px;
    color: white;
    font-size : 17px;
    border-top: 1px solid #2b3b50;
}

.tags-style{
    border: 1px solid black;
    background: #253126;
    padding: 16px;
    margin: 4px;
    display: inline-flex;
    font-weight: 600;
}

.social-sharing {
    width : 100%;
    padding: 2%;
}

.social-icons {
    width: 50px;
    height: 50px;
    margin: 2px;
}

.favorite-icon{
    font-size: 25px;
    float: right;
    color: white;
}

.options-icon {
    color: white;
}

.more-socialIcons{
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.tag-badge{
    font-size: 15px;
    padding: 8px;
    margin: 2px;
}

.ios ,.md {
    page-gifdetail {
        .pins{
            column-count : 2;
            margin-left: 15px; margin-right: 15px;
        }
        .pin{
            display: inline-block;
            margin : 3px -3px -0px -6px;
            padding: 0px;
        }
        .gifpin{
            border-radius: 5px;
            width: 100%;
            height: auto;
            background: #8463F2;
        }
    }
}