.page-popover{
  .text-to-change div {
    margin: 10px auto;
  }
}

.gin-popover-list {
  padding-top: 5%;
}

.gin-popover {
  text-align: center;
  font-weight: 600;
  color: #35EC97; 
}

.pop-icon {
  margin-right: 10px;
}