.page-popover{
  .text-to-change div {
    margin: 10px auto;
  }

}

.gin-popover-list {
 // padding-top: 5%;
}
.gin-popover ion-label {
    color: #2b3a4f !important;
    /* text-align: center; */
    font-weight: 600;
}

.list-md{
  margin: 0px;
}

.pop-icon {
  margin-right: 10px;
}

