.background-theme{
    background-color : #202E3F;
}

.search-result-header {
    color: #8A9BB2;
    font-size: 0.8em;
    font-weight: 600;
    padding: 2%;
    text-align: center;

}

.ios ,.md {
    page-search-result{
        .pins{
            column-count : 2;
        }
        .pin{
            display: inline-block;
            margin : -1px -3px -9px -9px;
            padding: 0px;
        }
        .gifpin{
            background: #00e589;
        }
    }
}