.background-theme{
    background-color : #2b3b50;
}

.search-result-header {
    color: white;
    font-size: 15px;
    padding: 6px;
}


.ios ,.md {
    page-search-result{
        .pins{
            column-count : 2;
        }
        .pin{
            display: inline-block;
            margin : -1px -3px -9px -9px;
            padding: 0px;
        }
        .gifpin{
            background: #00e589;
        }
    }
}