.background-theme{
    background-color : #202E3F;
}

.search-result-header {
    color: #ffffff;
    font-size: 1.1em;    
    text-align: center;
    padding: 2%;
}

page-search-result{

    masonry .grid{
        column-count: 2;
      //  margin: 0 auto;
    }

      .brick{
      width: 47%;
   //   height:100px;
      }
}

.ios ,.md {
    page-search-result{
        .pins{
            column-count : 2;
        }
        .pin{
            display: inline-block;
            margin : -1px -3px -9px -9px;
            padding: 0px;
        }
        .gifpin{
            background: #00e589;
        }
    }
}