<ion-header>
<ion-toolbar class="navbar" >

<div class="header-home">
  <div class="home-icon" (click)="userProfile()">
     <img src="../assets/icon/icon.png" style="width:30px; height:30px;"/>
  </div>
  <span class="idiom-name" (click)="navIdiom()">{{ selectedIdiom }} </span>  
  <ion-icon class="search-icon" name="search" (click)="searchButton()"></ion-icon>
  <ion-icon class="search-icon" name="md-person" (click)="checklogin()"></ion-icon>
</div>  

  <ion-segment  [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button class="tabs-style" value="first">
      Trending
    </ion-segment-button>
    <ion-segment-button class="home-toolbar" value="second">
      Emotions
    </ion-segment-button>
    <ion-segment-button value="third">
      Actions
    </ion-segment-button>
    <ion-segment-button value="fourth">
      Movies
    </ion-segment-button>
    

  </ion-segment>
</ion-toolbar>
</ion-header>


<ion-content class="home-content">




  <ion-slides #mySlider (ionDidChange)="onSlideChanged($event)">
    <ion-slide *ngFor="let slide of slides">
      <h1>{{ slide.title }}</h1>

    <ion-grid>
      <ion-row row-2>
            <ion-col col-6 *ngFor="let gif of gifs">
             
                <img src={{gif.images.original.url}}>
            
            </ion-col>

          <!--<ion-col col-6>
              <img src="https://media.giphy.com/media/MxjV8LTB7KBwc/giphy.gif">
          </ion-col>-->

        </ion-row>
   </ion-grid>


    </ion-slide>
  </ion-slides>
 <!--<ion-fab right top> 
    <button  ion-fab (click)="ImagePick()"><ion-icon name="ios-camera-outline"></ion-icon></button>
</ion-fab> -->
    <ion-fab bottom right>
      <button ion-fab  (click)="presentActionSheet()"><ion-icon name="md-cloud-upload"></ion-icon></button>
    </ion-fab>

</ion-content>
