 .search-icon{  
    font-size: 30px;
    position: right;
    float: right;
    margin-right: 10px;
    padding: 10px;
    color: #35EC97;
}

.home-content{
    background-color: #202E3F;
}

.home-icon{
    width: 30px;
    height: 30px;
    position: absolute;
    margin: 10px;
}

.hindi-icon{
    width: 32px;
    height: 32px;
    position: absolute;
    margin: 10px;
    background: linear-gradient(to top right, #8162F6, #FA7875 100%);
    border-radius: 50%;
    padding: 7px;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.30);
}

.idiom-icon{
    width: 30px;
    height: 30px;
    position: absolute;
    margin: 10px;
}

.idiom-name{
    font-size : 1.2em;
    font-weight: 600;
    color: white;
    line-height: 56px; 
    position: absolute;
    margin-left: 50px;
}

.header-home{
    overflow: hidden; 
}

//Enable Scroll
.swiper-slide {
    overflow-y: scroll;
    display: block;
}

.ios ,.md {
    page-home {
        .pins{
            column-count : 2;
            margin-left: 15px; margin-right: 15px;
            margin-top: 2%;
        }
        .pin{
            display: inline-block;
            margin : -0px -6px -0px -6px;
            padding: 0px;
        }
        .gifpin{
            border-radius: 5px;
            width: 100%;
            height: auto;
            background: #8463F2;
        }
    }
}

ion-segment {
    display: block;
    white-space: nowrap;
    font-size: 0;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
    }
    
    ion-segment-button.segment-button {
        display: inline-block;
        min-width: 100px;
        width: auto;
    }
}