 .search-icon{  
    font-size: 30px;
    position: right;
    float: right;
    margin-right: 10px;
    padding: 10px;
}

.home-toolbar{
   color: #ffffff;
   font-size: 1rem;
}

.home-content{
    background-color: #2b3b50;
}

.tabs-style{
    color: #ffffff;
    font-size: 100%;
}

.home-icon{
      width: 30px;
      height: 30px;
      position: absolute;
      margin: 10px;
}

.swiper-slide {
    overflow-y: scroll;
    display: block;
}

.idiom-name{
    
    font-size : 20px;
    background:#1dbf4d;
    color:#fff;
    display:inline-block;
   
    margin:10px 10px 0 0;
    padding:5px 10px
}

.header-home{
    overflow:hidden; 
    text-align: center;
}


.navbar{
    .toolbar-background {
	    background: #ff1943 !important;
    }
}

.tabs-style {
    font-size:20px;
    color : white !important;
}

.segment-button{
    color: white !important;

}

.toolbar-ios .segment-ios{
    position: relative !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
}
