<ion-header>
<ion-toolbar class="navbar" >

<div class="header-home">
  <div class="home-icon" (click)="userProfile()">
     <img src="assets/icon/icon.png" style="width:30px; height:30px;"/>
  </div>
  <span class="idiom-name" (click)="navIdiom()">{{ selectedIdiom }} </span>  
  <ion-icon class="search-icon" name="search" (click)="searchButton()"></ion-icon>
  <ion-icon class="search-icon" name="md-contact" (click)="checklogin()"></ion-icon>
</div>  

  <ion-segment  [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)">
    
    <ion-segment-button value="first">
      Trending
    </ion-segment-button>
    <ion-segment-button value="second">
      Emotions
    </ion-segment-button>
    <ion-segment-button value="third">
      Actions
    </ion-segment-button>
    <ion-segment-button value="fourth">
      Celebrities
    </ion-segment-button>
     <ion-segment-button value="fifth">
      Cricket
    </ion-segment-button>
    
  </ion-segment>
</ion-toolbar>
</ion-header>


<ion-content class="home-content">

  <ion-slides #mySlider (ionDidChange)="onSlideChanged($event)">
    <ion-slide *ngFor="let slide of slides">
      <div class="pins">
        <div class="pin" *ngFor="let gif of gifs" (click)="navGifDetail(gif)">
              <img class="gifpin" src={{gif.images.downsized.url}}>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <!--<ion-fab bottom right>
    <button ion-fab  (click)="presentActionSheet()"><ion-icon name="md-cloud-upload"></ion-icon></button>
  </ion-fab>-->

  <ion-fab right bottom>
    <button ion-fab><ion-icon name="md-add"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab><ion-icon name="md-document" (click)="ImagePick()"></ion-icon></button>
      <button ion-fab><ion-icon name="md-link" (click)="UploadviaWeb()"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
