 .search-icon{  
    font-size: 30px;
    position: right;
    float: right;
    margin-right: 10px;
    padding: 10px;
    color: #35EC97;
}

.home-toolbar{
   color: #ffffff;
   font-size: 1rem;
}

.home-content{
    background-color: #202E3F;
}

.tabs-style{
    color: #ffffff;
    font-size: 100%;
}

.home-icon{
      width: 30px;
      height: 30px;
      position: absolute;
      margin: 10px;
}

.swiper-slide {
    overflow-y: scroll;
    display: block;
}

.idiom-name{
    font-size : 20px;
    color:#fff;
    display:inline-block;
    margin:10px 10px 0 0;
    padding:5px 10px
}

.header-home{
    overflow:hidden; 
    text-align: center;
}

.tabs-style {
    font-size:20px;
    color : white !important;
}

.segment-button{
    color: white !important;

}

.toolbar-ios .segment-ios{
    position: relative !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
}

.segment-ios .segment-button{
    border-color: transparent !important;
}

.segment-ios .segment-button.segment-activated {
    background-color: rgb(179, 68, 93);
}

.segment-md .segment-button.segment-activated {
    border-color: white !important;
}

.fab-ios , .fab-md{
    color : #8463F2 !important;
    background-color : white !important;
    box-shadow: 0 6px 8px 0 rgba(132,99,242,0.5);
}

.ios ,.md {
    page-home{
        .pins{
            column-count : 2;
            margin-left: 12px; margin-right: 12px;
        }
        .pin{
            display: inline-block;
            margin : -0px -6px -0px -6px;
            padding: 0px;
        }
        .gifpin{
            border-radius: 5px;
            background: #00e589;
        }
    }
}



ion-segment {
    display: block;
    white-space: nowrap;
    font-size: 0;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
    }

    ion-segment-button.segment-button {
        display: inline-block;
        min-width: 100px;
        width: auto;
    }
}

.gin-trend-bar {
    height: auto;
    background: transparent;
    padding: 6pt 10pt 8pt 10pt;
        span {
            color: white;
            font-size: 10pt;
        }       
}