<ion-toolbar>
  <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="first">
      Tab1
    </ion-segment-button>
    <ion-segment-button value="second">
      Tab2
    </ion-segment-button>
    <ion-segment-button value="third">
      Tab3
    </ion-segment-button>
    <ion-segment-button value="fourth">
      Tab4
    </ion-segment-button>
    

  </ion-segment>
</ion-toolbar>

<ion-content padding>

  <ion-slides #mySlider (ionDidChange)="onSlideChanged($event)">
    <ion-slide *ngFor="let slide of slides">
      <h1>{{ slide.title }}</h1>
  
      <button ion-button (click)="searchButton()">search here</button>
    </ion-slide>
  </ion-slides>

    <ion-fab bottom right>
      <button ion-fab mini (click)="presentActionSheet()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>



</ion-content>



<!--
<ion-content>
    
<ion-searchbar (ioninput)="getItems($event)"></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let item of items">
            {{ item }}
        </ion-item>
    </ion-list>

    <div padding>
        <ion-segment [(ngModel)]="pet">
                  <ion-segment-button value="kittens">
               Trending
    </ion-segment-button>

            <ion-segment-button value="rat">
               Emotions
    </ion-segment-button>

          <ion-segment-button value="cat">
               Emotions2
    </ion-segment-button>
    
    <ion-segment-button value="puppies">
      Actions
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="pet">
  <ion-list *ngSwitchCase="'Emotions'">
    <ion-item>
      <ion-thumbnail item-left>
        <img src="img/thumbnail-puppy-1.jpg">
      </ion-thumbnail>
      <h2>f sf</h2>
    </ion-item>
    
  </ion-list>

  <ion-list *ngSwitchCase="'Actions'">
    <ion-item>
      <ion-thumbnail item-left>
        <img src="img/thumbnail-kitten-1.jpg">
      </ion-thumbnail>
      <h2>fdfef</h2>
    </ion-item>
  </ion-list>
</div>  
</ion-content>-->