// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.




$primary-color :white;
$background-color : #8a9bb2;
$font-lg : 18px;
$font-md : 16px;
$font-sm : 12px;
$full-width: 100%;
$full-height : 100%;
$transparent : transparent;



.noBorder-item{
    .item-inner{
        border-bottom : 0px !important;
    }
}

.no-padding-l {
  padding-left: 0px !important;
}

.no-padding-r {
  padding-right: 0px !important;
}

.no-padding-b {
  padding-bottom: 0px !important;
}

.no-padding-t {
  padding-top: 0px !important;
}

.gingerCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.LoginLogo {
    @extend .gingerCenter;
    width: 30%;
    color:white;
}

// .back-button.show-back-button {
//     display: inline-block;
//     color: white;
// }

.navbar {
  .toolbar-background {
    background: #2B3B50 !important;
  }
}

.ws,
.md {
  .back-button {
    color: white;
  }
}

// Center Items

.gin-center {
  margin-left: auto; margin-right: auto;
}

.gin-center-txt {
  text-align:center;
}
// Buttons

.gin-button-1 {
  background-color: white;
  font-size: 1.4rem;
  color: #35EC97;
  font-weight: 600;
}

.gin-button-1:hover {
  background-color: #CCCCCC !important;
}

.gin-button-2 {
  background-color: white;
  font-size: 1.4rem;
  color: #F3478E;
  font-weight: 600;
}

.gin-button-2:hover {
  background-color: #CCCCCC !important;
}

// Large Button

.gin-button-lg {
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.30);
  padding: 1.6em 2.8em;
}

// Content Box

.gin-box {
  margin-left: 1%;
  margin-right: 5%;
}

.no-internet{
    color: white;
    font-size: 32px;
    text-align: center;
    padding: 60px;
    padding-top: 200px;
}

/* Place holder demo */
.placeholder-box {
  border-radius: 5px;
  margin-bottom: 12px; }

.placeholder-2 {
  background: linear-gradient(45deg, #FF8BB3 0%, #FDF18E 100%);
  height:80px; 
  }

.placeholder-1 {
  background: linear-gradient(45deg, #DFC3FD 0%, #8EC5FD 100%);
  height: 90px; }

.placeholder-3 {
  background: linear-gradient(45deg, #84F9B1 0%, #8FD3F5 100%);
  height: 120px;
//  border-radius: 5px;
 // margin-bottom: 12px; 
  }

.placeholder-4 {
  background: linear-gradient(45deg, #FFBBC7 0%, #FF6ABC 100%);
  height: 110px; }

.placeholder-5 {
  background: linear-gradient(45deg, #9B80F7 0%, #D9CEFF 100%);
  height: 100px; }

.placeholder-6 {
  background: linear-gradient(45deg, #F0FF8E 0%, #FEFFDA 100%);
  height: 133px; }