// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.




$primary-color :white;
$background-color : #8a9bb2;
$font-lg : 18px;
$font-md : 16px;
$font-sm : 12px;
$full-width: 100%;
$full-height : 100%;
$transparent : transparent;



.noBorder-item{
    .item-inner{
        border-bottom : 0px !important;
    }
}

.no-padding-l {
  padding-left: 0px !important;
}

.no-padding-r {
  padding-right: 0px !important;
}

.no-padding-b {
  padding-bottom: 0px !important;
}

.no-padding-t {
  padding-top: 0px !important;
}

.gingerCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.LoginLogo {
    @extend .gingerCenter;
    width: 30%;
    color:white;
}

<<<<<<< .merge_file_an4gPb
.back-button.show-back-button {
    display: inline-block;
    color: white;
}
=======
.navbar {
  .toolbar-background {
    background: #2B3B50 !important;
  }
}

.ws,
.md {
  .back-button {
    color: white;
  }
}

// Center

.gin-center {
  margin-left: auto; margin-right: auto;
}

// Buttons

.gin-button-1 {
  background-color: white;
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.30);
  font-size: 1.4rem;
  color: #35EC97;
  font-weight: 600;
  padding: 1.8em 2.8em;
}




>>>>>>> .merge_file_KbzpWi


