<ion-card>            
    <ion-card-header class="list-item-style" (click)="toggleContent()">
         About
    <ion-icon class="accordion-icon" name="md-arrow-dropdown"></ion-icon>
    </ion-card-header>

    <ion-card-content #cc>
            As our product and company grew, we wanted our name to grow with it. Gola came out of how you, our users, told us you use our product. It allows you to add tone to your conversation and convey precisely what you want. It only made sense to change our name to Gola to reflect how we're helping you express what you truly mean to say.
    </ion-card-content>
</ion-card>