page-search{
    masonry .grid{
        column-count: 2;
      //  margin: 0 auto;
      display: inline-block;
      width:100%;
      overflow: visible;
    }
 
    .brick{
      width: 47%;
      object-fit: contain;
    }

    .search-items{

        background-color: #2b3b50;
        color : white;
    }

    .top-searches-items{
        background-color: #2b3b50;
        color : white;
    }

    .background-theme{
        background-color : #2b3b50;
    }
}

.search-items{
    background-color: #2b3b50;
    color : white;
}

.background-theme{
    background-color: #2b3b50;
}

// .searchbar-search-icon {
//     display:none;
//     width:0;
//     height:0;
// }

 .searchbar-input {    
     font-size: 1.5em !important;
     caret-color: #18efef;
}

.searchbar-md .searchbar-input {
    padding: 6px 55px;
    height: auto;
    border-radius: 2px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 4rem;
    color: #000000;
    background-color: rgb(255, 255, 255);
    background-position: 8px center;
    -webkit-box-shadow: transparent;
    box-shadow: transparent;    
}

