<ion-header #head>
  <ion-navbar class="navbar" hideBackButton>
        <button class="customIcon" ion-button icon-only (click)="CustomNavRoot()">
            <ion-icon  name="arrow-back"></ion-icon>
        </button>
        <ion-icon class="search-icon" name="md-contact" (click)="checklogin()"></ion-icon>
 
    <ion-searchbar #search
    (showCancelButton)="true"
       (ionInput)="getItems($event)"
       (keyup.enter)="someFunction($event)" 
         (ionCancel)="onCancel($event)" >

    </ion-searchbar>

  </ion-navbar>
  
</ion-header>


<ion-content class="background-theme" hide-header [header]="head">
      
    <ion-list *ngIf="TopSearchlist">
        <ion-item  class="top-searches-items" *ngFor="let top of topsearcheslist | slice:0:6  let i=index" (click)="TagsClick(top.text)">
            
        <ion-icon name="search" padding></ion-icon>
               {{ top.text }}
            <img style="width:100px; height: 60px;  float:right; padding-top: 4px;" src={{top.url}} />
        </ion-item>
    </ion-list>
    
    <ion-list >
        <ion-item class="search-items" *ngFor="let item of suggestedText" (click)="TagsClick(item)">
            <ion-icon name="search" padding></ion-icon>
            {{ item }}
        </ion-item>
    </ion-list>
</ion-content>