.search-items{
    background-color: #2b3b50;
    color : white;
}

.background-theme{
    background-color : #2b3b50;
}

.searchbar-search-icon {
    display:none;
    width:0;
    height:0;
}

.searchbar-input {
    padding: 0px !important;
    font-size: 1.5em !important;
    font-weight: 600 !important;
    caret-color: #35EC97;
}