page-search{
    
    .search-items{
        background-color: #2b3b50;
        color : white;
    }

    .top-searches-items{
        background-color: #2b3b50;
        color : white;
    }

    .background-theme{
        background-color : #2b3b50;
    }
}




.navbar {
    .toolbar-background {
	    background: transparent;
    }
}

