.content-background{
     background-color : #2b3b50;
     color : white;
}

.upload-button{
    margin-top: 4px;
    padding-top:12px;
    text-align:center;
}

.upload-comment{
    margin-left : 14px;
    padding-left : 34px;
    font-size: 16px;
    line-height: 2px;
}

.upload-urlbar{
    margin-top: 4px;
    margin-left: 5px;
}