.content-background{
     background-color : #2b3b50;
}

page-upload .navbar {
  .toolbar-background {
    background: linear-gradient(45deg, #8162F6 0%, #FA7875 100%) !important;
  }
}

.upload-button{
    margin-top: 4px;
}

.upload-comment{
    text-align: center;
    color: #8A9BB2;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.upload-urlbar{
    margin-top: 30px;
}

.paste-icon {
    color: #8A9BB2;
}

.gin-box-upload {
  text-align: center;
  margin: 0% 5% 0 5%;
}