page-page3 {
     .home-content{
        background-color:  #202E3F;
    }
     masonry .grid{
        column-count: 2;
        display: inline-block;
        width:100%;
      //  margin: 0 auto;
    }
 

      .brick{
      width: 47%;           
      }
}
