<configuration>

    <jmxConfigurator/>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${RES_HOME:-.}/logs/gif-service.log.%d{yyyy_MM_dd}.%i.log</fileNamePattern>
            <maxHistory>20</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%date{ISO8601} | [%thread] | %coloredLevel | %logger{26} | %message%n%xException{10}</pattern>
        </encoder>
        <prudent>true</prudent>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} | %thread | %coloredLevel | %logger{26} | %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <logger name="play" level="WARN"/>
    <logger name="application" level="INFO">
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="akka.actor" level="DEBUG">
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="kamon.influxdb" level="WARN">
        <appender-ref ref="FILE"/>
    </logger>

    <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
    <logger name="com.avaje.ebean.config.PropertyMapLoader" level="OFF"/>
    <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF"/>
    <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF"/>
    <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF"/>
    <logger name="org.asynchttpclient" level="WARN"/>
    <logger name="org.mongodb" level="WARN"/>
    <logger name="org.apache.http" level="WARN"/>
    <logger name="org.springframework.data.mongodb" level="WARN"/>
    <logger name="com.amazonaws.internal" level="WARN"/>
    <logger name="com.amazonaws.http" level="WARN"/>
    <logger name="com.amazonaws.services.s3" level="INFO"/>
    <logger name="com.amazonaws.auth" level="WARN"/>
    <logger name="akka.stream.impl" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.data.mongodb.core.MongoTemplate" level="DEBUG"/>


    <logger name="io.netty.handler" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

</configuration>