<!--<ion-header #head>
  <ion-navbar hideBackButton  class="navbar"  hide-on-scroll="true">
    
<div class="header-home">
  
<div class="idiom-button" >

  <div class="hindi-icon" (click)="navIdiom()">
     <img [src]=lang/>
  </div>

  <span class="idiom-name"  (click)="navIdiom()">{{ selectedIdiom }}</span>
</div>

  <ion-icon class="search-icon" name="md-contact" (click)="checklogin()"></ion-icon>
  <ion-icon class="search-icon" name="search" (click)="searchButton()"></ion-icon>

</div>  
  </ion-navbar>
</ion-header>-->
<!--<ion-header #head>
</ion-header>-->

<ion-content class="home-content" hide-fab [fab]="head">

    <masonry class="grid"  [options]="{ transitionDuration: '0.2s' , gutter :4 ,percentPosition: true }" [useImagesLoaded]="true">
       <masonry-brick   class="brick" *ngFor="let item of gifs"  (click)="GifsViewviaId(item.gifId)" >
          <!--<div class="placeholder-1 placeholder-box" >
          </div>-->
         <!--<img *ngIf="!loaded" src="https://avatars3.githubusercontent.com/u/497125?v=4&s=88" width={{item.width}} height={{item.height}}/>-->
         <img  *ngIf="!LessData" width="100%" height="100%" [img-preloader]="item.baseUrl+'/'+item.lowResWebpFN"/>
         <img  *ngIf="LessData" width="100%" height="100%" [img-preloader]="item.baseUrl+'/'+item.thumbNailFN"/>
        </masonry-brick>
    </masonry>


  
      <!--<div class="grid">
        <div class="brick"  *ngFor="let item of gifs" (click)="this[click_func](item.tag)" >
              <img  *ngIf="!LessData" height="100px" width="275px" [img-preloader]="item.lowResWebpFN"/>
              <img *ngIf="LessData" height="100px" width="245px" [img-preloader]="item.thumbNailFN"/>
              <div [className]="ng_class">
                  <h2 class="gif-text">{{item.tag}}</h2>
              </div>
        </div>
      </div>-->
    

   <!--<div class="grid" >
      <div class="grid-item" *ngFor="let item of gifs" >
        <img [src]="item.lowResUrl || item.url ||  item.thumbNailUrl"/>
      </div>
  </div>-->

    <ion-fab right bottom #head>
      <button ion-fab (click)="checkUserLogin()"><ion-icon name="md-add"></ion-icon></button>
    </ion-fab>

    <ion-infinite-scroll  direction="x" class="con-scroll-x" has-bouncing="true" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content ></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
