page-page1 {
    .home-content{
        background-color:  #202E3F;
    }
     masonry .grid{
        column-count: 2;
      //  margin: 0 auto;
    }
 

      .brick{
      width: 47%;
      }
}


.ios ,.md {
    page-page2 {
        .pins{
            column-count : 2;
            margin-left: 15px; margin-right: 15px;
            margin-top: 2%;
        }
        .pin{
            display: inline-block;
            margin : -0px -6px -0px -6px;
            padding: 0px;
        }
        .gifpin{
            border-radius: 5px;
            width: 100%;
            height: auto;
            background: #8463F2;
        }
    }
}