page-page1 {
    .home-content{
        background-color:  #202E3F;
    }

   .item {
column-count: 2;
 display: inline-block;
 //padding:  .25rem;
 width: 99%; 
   margin-left: 0px; margin-right: 0px;
  margin-top: 2%;
}

.well {
 position:relative;
 display: block;
 margin : -0px -6px -0px -6px;
 padding: 0px;
 background-image:url('https://avatars3.githubusercontent.com/u/497125?v=4&s=88');
}

     masonry .grid{
       //column-count: 2;
      //  margin: 0 auto;
      display: inline-block;
      width:100%;
     
    //   min-width: 900px !important;
    
    }

    div .grid{
    //   column-count: 2;
        display: inline-block;
        width:100%;
    }
 

     .brick{
    //   width: 47%;
      object-fit: contain;
   //   background-image:url('https://avatars3.githubusercontent.com/u/497125?v=4&s=88');
     
      }

    //  .grid{ max-width:1200px}
    //   .grid-item { width: 30%; float:left; display: block; padding: 7px;  }
    //   .masonryImage img { padding:10px; }
}


    .spinner-md-crescent circle {
    stroke: #c34d4d;
    }

    .refresher-refreshing .spinner-ios line, .refresher-refreshing .spinner-ios-small line, .refresher-refreshing .spinner-crescent circle {
    stroke: #c34d4d;
}


.ios ,.md {
    page-page2 {
        .pins{
            column-count : 2;
            margin-left: 15px; margin-right: 15px;
            margin-top: 2%;
        }
        .pin{
            display: inline-block;
            margin : -0px -6px -0px -6px;
            padding: 0px;
        }
        .gifpin{
            border-radius: 5px;
            width: 100%;
            height: auto;
            background: #8463F2;
        }
    }
}