page-page1 {
    .home-content{
        background-color:  #202E3F;
    }

   .item {
       column-count: 2;
 display: inline-block;
 padding:  .25rem;
 width: 100%; 
}

.well {
 position:relative;
 display: block;
}

     masonry .grid{
        column-count: 2;
      //  margin: 0 auto;
      display: inline-block;
      width:100%;
      overflow: visible;
    min-width: 940px !important;
    }
 

      .brick{
      width: 47%;
      object-fit: contain;
      }

    //       .section {
    //  display: inline-block;
    //  margin:  0.25rem;
    //  padding:  1rem;
    //  width:  100%; 
    //  background:  #efefef;
    // }
}



.ios ,.md {
    page-page2 {
        .pins{
            column-count : 2;
            margin-left: 15px; margin-right: 15px;
            margin-top: 2%;
        }
        .pin{
            display: inline-block;
            margin : -0px -6px -0px -6px;
            padding: 0px;
        }
        .gifpin{
            border-radius: 5px;
            width: 100%;
            height: auto;
            background: #8463F2;
        }
    }
}