<ion-content  class="home-content">

<!--     <div class="pins">
              <div class="pin" *ngFor="let gif of gifs" (click)="navGifDetail(gif)" >
                <img  class="gifpin" src="{{gif.url}}">
              </div>
        </div>
 -->

      <masonry class="grid" [options]="{ transitionDuration: '0.3s' , gutter : 4 }" [useImagesLoaded]="true"  >
       <masonry-brick class="brick" *ngFor="let item of gifs"  (click)="navGifDetail(item)" >
         <img src={{item.url}}/>
         </masonry-brick>
     </masonry>

  <ion-fab right bottom>
    <button ion-fab><ion-icon name="md-add"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab><ion-icon name="md-document" (click)="ImagePick()"></ion-icon></button>
      <button ion-fab><ion-icon name="md-link" (click)="UploadviaWeb()"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  
    <ion-infinite-scroll  direction="x" class="con-scroll-x" has-bouncing="true" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content ></ion-infinite-scroll-content>
    </ion-infinite-scroll>


</ion-content>
