page-page2 {
    .home-content{
        background-color:  #202E3F;
    }
     masonry .grid{
        column-count: 2;
        display: inline-block;
        width:100%;
      //  margin: 0 auto;
    }
 

      .brick{
      width: 47%;           
      }


.wrapper{
    position:absolute; 
	top:0px; 
	left:0px;
	width:100%;
    height:97%;
	background-color:#924588;
	color:white;
    text-align: center;
	opacity:0.6; /* transparency */
	filter:alpha(opacity=60); /* IE transparency */
}

.wrapper2{
    position:absolute; 
	top:0px; 
	left:0px;
	width:100%;
    height:100%;	
}

}
.ios ,.md {
    page-page2 {
        .pins{
            column-count : 2;
            margin-left: 15px; margin-right: 15px;
            margin-top: 2%;
        }
        .pin{
            display: inline-block;
            margin : -0px -6px -0px -6px;
            padding: 0px;
        }
        .gifpin{
            border-radius: 5px;
            width: 100%;
            background: #8463F2;
        }
    }
}