<ion-content  class="home-content">

<!--     <div class="pins">
              <div class="pin" *ngFor="let gif of gifs" (click)="navGifDetail(gif)" >
                <img  class="gifpin" src="{{gif.url}}">
              </div>
        </div>
 -->

    <masonry class="grid" [options]="{ transitionDuration: '0.0001s' , gutter : 4 }" [useImagesLoaded]="true"  >
       <masonry-brick class="brick" *ngFor="let item of gifs"  (click)="this[click_func](item.text)" >
         <img src={{item.lowResUrl}}/>
         <div [className]="ng_class">
          <h2>{{item.text}}</h2>
         </div>
         </masonry-brick>
     </masonry>

   <ion-fab  *ngIf="loggedIn" right bottom>
    <button ion-fab (click)="UploadviaWeb()"><ion-icon name="md-add"></ion-icon></button>
    <!--<ion-fab-list side="left">
      <button ion-fab><ion-icon name="md-document" (click)="ImagePick()"></ion-icon></button>
      <button ion-fab><ion-icon name="md-link" (click)="UploadviaWeb()"></ion-icon></button>
    </ion-fab-list>-->
    </ion-fab>
  
    <ion-infinite-scroll  direction="x" class="con-scroll-x" has-bouncing="true" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content ></ion-infinite-scroll-content>
    </ion-infinite-scroll>


</ion-content>
